{% extends 'base.html' %}

{% block signUp %}
<nav class="d-flex justify-content-between align-items-center py-4 px-4 border-bottom">
    <a href="/" class="btn btn-outline-secondary px-4">
        Inicio
    </a>
    <h1 class="h3 m-0 text-center">FilmIA</h1>
    <a href="/signin" class="btn btn-outline-secondary px-4">
        Tienes cuenta? Inicia Sesión
    </a>
</nav>
<div class="form-container">
    <h2 class="form-title">Bienvenido. Crea tu perfil!</h2>
    <form method="POST">
        <div class="form-group">
            <label for="fname">Nombre:</label>
            <input type="text" id="fname" name="fname" required="required">
        </div>
        <div class="form-group">
            <label for="lname">Apellido:</label>
            <input type="text" id="lname" name="lname" required="required">
        </div>
        <div class="form-group">
            <label for="age">Edad:</label>
            <input type="text" id="age" name="age" required="required">
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="text" id="email" name="email" required="required">
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required="required">
        </div>
        <div class="form-actions">
            <input type="submit" value="Crear">
        </div>
        <div class="error-message">
            {{ error_msg }}
        </div>
        {% if success_msg %}
        <div class="success-message">
            {{ success_msg }} 
            <br>
            <a href="/">{{ msg }}</a>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}